<!-- Citation for the following code: 
//# Date: 05/08/2025 
//# Adapted from Module 6 Exploration - Web App Technology Node.js section
//# Used base structure for Handlebars templating. Original logic was added for my own entities pages.
//# Source URL: https://canvas.oregonstate.edu/courses/1999601/pages/exploration-web-application-technology-2?module_item_id=25352948
-->

<h1>Basketball Team Management Database</h1>
<div class="homepageDescription">
    <p>This is the home page for the Database</p>
    <p>Team Max Size:15</p>
    <p>Total games played per team: 5 + playoffs*</p>
</div>