<!-- Citation for the following code: 
//# Date: 05/08/2025 
//# Adapted from Module 6 Exploration - Web App Technology Node.js section
//# Used base structure for Handlebars templating. Original logic was added for my own entities pages.
//# Source URL: https://canvas.oregonstate.edu/courses/1999601/pages/exploration-web-application-technology-2?module_item_id=25352948
-->

<h1>Basketball Team Management Database</h1>
<div class="homepageDescription">
    <h2>Database Instructions</h2>

    <h3>Players Page</h3>
    <p>- use this page to add a player to the database</p>
    <h3>Teams Page</h3>
    <p>- use this page to create a Team on the database</p>
    <h3>Team Players Page</h3>
    <p>- use this page to add a player to a specific team in the database</p>
    <h3>Statistics Page</h3>
    <p>- use this page to create and add a certain Basketball statistic to the database</p>
    <h3>Players Statistics Page</h3>
    <p>- use this page to add game statistics to a specific player to the database</p>
    <h3>Games Page</h3>
    <p>- use this page to create games to the database</p>
    
</div>