<h1>Basketball Team Management Database</h1>
<div class="homepageDescription">
    <p>This is the home page for the Database</p>
    <p>Team Max Size:15</p>
    <p>Total games played per team: 5 + playoffs*</p>
</div>