<h2>Team Players</h2>

<table border="1" cellpadding="8">
    <thead>
        <tr>
            <th>Team Name</th>
            <th>Player Name</th>
             <th colspan="2">Actions</th>
        </tr>
    </thead>
    <tbody>
        {{#each teamplayers}}
            <tr>
                <td>{{this.TeamName}}</td>
                <td>{{this.PlayerName}}</td>
  				<td class="snug">
					<form method="POST" action="/teamplayers/delete">
						<input type="hidden" name="TeamPlayerID" value="{{this.TeamPlayerID}}" />
						<button type="submit">Delete</button>
					</form>
			  	</td>
			  	<td class="snug">
					<form method="POST" action="/teamplayers/update">
						<input type="hidden" name="TeamPlayerID" value="{{this.TeamPlayerID}}" />
						<button type="submit">Update</button>
					</form>
				</td>
            </tr>
        {{/each}}
    </tbody>
</table>

<h2>Add Player to Team</h2>
<form method="POST" action="/teamplayers/add">
  <input name="TeamID" placeholder="Team ID" required />
  <input name="PlayerID" placeholder="Player ID" required />
  <input name="JerseyNumber" placeholder="Jersey #" />
  <button type="submit">Add</button>
</form>



